kind: GatewayService
name: metabase-dev
tags: [ns.gw-dd440.dev]
url: http://metabase.e1fecb-dev.svc.cluster.local:3000 # Service
port: 3000
protocol: http
routes:
  - name: e1fecb-dev-callback
    tags: [ns.gw-dd440.dev, aps.route.session.cookie.enabled]
    hosts:
      - metabase.dev.api.gov.bc.ca # route host
    paths:
      - /
    methods:
      - GET
      - POST
      - PUT
      - OPTIONS
    strip_path: false
    plugins:
      - enabled: true
        name: oidc
        tags: [ns.gw-dd440.dev]
        config:
          access_token_as_bearer: "no"
          access_token_header_name: Authorization
          bearer_jwt_auth_allowed_auds:
            - social-sector-analytics-6161 # CSS
          bearer_jwt_auth_enable: "no"
          bearer_jwt_auth_signing_algs:
            - RS256
          bearer_only: "no"
          client_id: social-sector-analytics-6161 # CSS
          client_secret: Trp8rmYWGm3JMJhZo0d5umByT1yqwX8E # CSS
          disable_access_token_header: "yes"
          disable_id_token_header: "yes"
          disable_userinfo_header: "yes"
          discovery: https://dev.loginproxy.gov.bc.ca/auth/realms/standard/.well-known/openid-configuration # CSS
          groups_claim: client_roles
          header_claims:
            - idir_username
            - email
          header_names:
            - X-Idir-Username
            - X-User-Email
          logout_path: /logout
          realm: kong
          redirect_uri: https://metabase.dev.api.gov.bc.ca/sso # CSS
          redirect_after_logout_uri: /
          response_type: code
          revoke_tokens_on_logout: "yes"
          scope: openid
          session_secret: null
          session_secure: "yes"
          skip_already_auth_requests: "no"
          ssl_verify: "no"
          timeout: null
          token_endpoint_auth_method: client_secret_post
          unauth_action: auth
          use_jwks: "yes"
          userinfo_header_name: X-USERINFO
          validate_scope: "yes"
