apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: metabase-ingress
  namespace: {{ .Values.namespace }}
spec:
  podSelector:
    matchLabels:
      app: metabase
  policyTypes:
  - Ingress
  ingress:
  - from:
    - namespaceSelector:
        matchLabels:
          network.openshift.io/policy-group: ingress
    ports:
    - protocol: TCP
      port: 3000
  - from: []
    ports:
    - protocol: TCP
      port: 3000
