apiVersion: v1
kind: Service
metadata:
  name: metabase
  namespace: {{ .Values.namespace }}
  labels:
    app: metabase
spec:
  type: {{ .Values.service.type }}
  ports:
  - port: {{ .Values.service.port }}
    targetPort: http
    protocol: TCP
    name: http
  selector:
    app: metabase
