cluster:
  name: postgres
  namespace: a2edba-dev

postgres:
  version: "17"
  image: docker.io/postgres:17-alpine

  database: postgres
  username: postgres

resources:
  requests:
    cpu: "250m"
    memory: "512Mi"
  limits:
    cpu: "500m"
    memory: "1Gi"

storage:
  size: 1Gi
  storageClass: ""
  accessMode: ReadWriteOnce

postgresConfig:
  maxConnections: "50"
  sharedBuffers: "128MB"
  effectiveCacheSize: "512MB"
  maintenanceWorkMem: "32MB"
  walBuffers: "4MB"
  workMem: "1310kB"

service:
  type: ClusterIP
  port: 5432

persistence:
  enabled: true
