cluster:
  name: postgres

postgres:
  version: "17"
  image: docker.io/postgres:17-alpine

  database: postgres
  username: postgres

resources:
  requests:
    cpu: "125m"
    memory: "256Mi"
  limits:
    cpu: "250m"
    memory: "512Mi"

storage:
  size: "512Mi"
  storageClass: ""
  accessMode: ReadWriteOnce

postgresConfig:
  maxConnections: "20"
  sharedBuffers: "64MB"
  effectiveCacheSize: "256MB"
  maintenanceWorkMem: "16MB"
  walBuffers: "4MB"
  workMem: "2MB"
  checkpointTimeout: "30min"
  maxWalSize: "128MB"
  minWalSize: "32MB"
  checkpointCompletionTarget: "0.8"
  logMinDurationStatement: "10000"
  logAutovacuumMinDuration: "1000"

service:
  type: ClusterIP
  port: 5432

persistence:
  enabled: true
